@model InventoryApp.Shared.Models.ReceiveInventoryModel

@{
    ViewData["Title"] = "Receive";
}

<h1>Receive</h1>

<h4>Inventory Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Receive">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InventoryItem.Id" />
            <div class="form-group">
                <label asp-for="InventoryItem.ProductCode" class="control-label"></label>
                <input readonly asp-for="InventoryItem.ProductCode" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="InventoryItem.Name" class="control-label"></label>
                <input readonly asp-for="InventoryItem.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNumber" class="control-label"></label>
                <input asp-for="ReferenceNumber" class="form-control" />
                <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityReceived" class="control-label"></label>
                <input asp-for="QuantityReceived" class="form-control" />
                <span asp-validation-for="QuantityReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
