main {
  flex: 1;
}

@media (max-width: 640.98px) {
}

@media (min-width: 641px) {
  .page {
    flex-direction: row;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
